html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.pintar tr[data-sexo='F'] {
    background: #F19A5A;
}
.pintar tr[data-sexo='M'] {
    background: #98B0DE;
}