@model CRUDPRUEBA.Models.Trabajadores

@{
    ViewData["Title"] = "Delete";
}
<div class="modal fade" id="eliminarEmpleado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar trabajador</h1>
            </div>
                <div class="modal-body">
                <form method="post" id="formEliminar">
                    <p>¿Estás seguro que deseas eliminar?</p>
                    <input type="submit" value="Confirmar" class="btn btn-danger" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </form>
                </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}